.card {
  width: 542px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 25px 25px;
  }

  .deleteForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 25px 10px;
  }

  .formHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .closeIcon {
    cursor: pointer;
  }

  .line {
    position: relative;
    top: -20px;
    left: -25px;

    width: calc(100% + 50px);
    height: 0.5px;

    background: var(--color-dark-500);
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 97%;
  }

  .checkbox {
    margin: 10px 0 0 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 15px;
  }

}