.root {
  box-sizing: border-box;
}

.selectTrigger {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 210px;
  padding: 6px 12px;

  background: var(--color-dark-900);
  border: 1px solid var(--color-dark-100);
  outline: none;

  &:focus {
    border-color: var(--color-info-500);
  }

  &:hover, &:hover + span {
    background: var(--color-dark-500);
  }
}

.selectTriggerForPagination {
  width: 50px;
  padding: 0 4px;
}

.selectContent {
  box-sizing: border-box;
  width: 210px;
  border: 1px solid grey;
}

.selectContentForPagination {
  width: 50px;
}


.selectItem {
  width: 100%;
  padding: 6px 12px;
}

.selectItem[data-highlighted] {
  background: var(--color-accent-700);
  outline: none;
}

.selectItemForPagination {
  width: 100%;
  padding: 0 4px;
}



[data-state='open'] {
  .selectIcon {
    transform: rotate(180deg);
  }
}


[data-disabled] {
  opacity: 0.5;

  &:hover {
    background: inherit;
  }
}



