.form {
  margin-top: 51px;
}

.checkbox {
  align-self: start;
  margin-bottom: 14px;
}

.recoverPassword{
  float:right ;
  margin-bottom: 70px;
  color:var(--color-light-100);
}

.button{
  box-sizing: border-box;
  width: 348px;
  margin-bottom: 45px;
}

.email{
  margin-bottom: 19px;
}


.instructions{
  margin-bottom: 41px;
  color:var(--color-light-900);
  text-align: left;

}

.signUpLink{
  margin-bottom: 45px;
  color: var(--color-accent-500);
}