
input {
  font-size: var(--font-size-m);
  color: var(--color-light-100); /* Цвет текста */
  background-color: var(--color-dark-900); /* Желаемый цвет фона */
  border: 1px solid grey;
}

input:hover {
  background-color: var(--color-dark-700)
}

input:active {
  outline: 1px solid var(--color-info-700);
}

input:focus {
  outline: 1px solid var(--color-info-700);
}

.inputStandart {
  width: 90%;

  //width: 283px;
  padding: 7px 10px;
}

.inputSearch {
  width: 90%;

  //width: 283px;
  padding: 7px 10px 7px 40px;
}

.inputVisible {
  width: 90%;

  //width: 283px;
  padding: 7px 40px 7px 10px;
}

.inputPrimary {
  outline: 1px solid var(--color-dark-300);
}

.inputPrimary:focus {
  outline: 2px solid var(--color-info-700);

  //outline: none;
}

.inputPrimary:active {
  outline: 2px solid var(--color-light-100);

  //outline: none;
}

.inputError, .inputError:focus, .inputError:active {
  color: var(--color-danger-300);
  outline: 1px solid var(--color-danger-300);
}

.iconSearch {
  position: relative;
  top: 4px;
  left: 30px;

  font-size: 20px;
  color: var(--color-dark-300)
}

.iconVisible {
  position: absolute;
  top: 8px;
  left: 85%;

  width: 20px;

  font-size: 20px;
  color: white;
}

.errorDescription {
  position: relative;
  left: 20px;

  margin: 0;

  font-size: var(--font-size-xs);
  color: red;
}

.label {
  position: relative;
  left: 20px;

  margin: 0;

  //font-size: var(--font-size-xs);
  color: var(--color-dark-100);
 text-align: left;
}

.labelStandart {
  position: relative;
  left: 20px;
}

.errorDescriptionStandart {
  position: static;
}

.inputDisabled {
  pointer-events: none; /* Запретить события указателя */
  cursor: not-allowed; /* Изменить курсор */
  text-decoration: none; /* Убрать подчеркивание */
  opacity: 0.5;
}