.card {
  width: 542px;

  .deleteForm {
    display: flex;
    flex-direction: column;
    padding: 5px 25px 15px;
  }

  .formHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .closeIcon {
    cursor: pointer;
  }

  .line {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    height: 0.5px;
    background: var(--color-dark-500);
  }


  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .description {
    margin-top: 25px;
    color: white;
    text-align: left;
  }
}