.root{
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1920px;
  margin: 0 auto;
  padding-top: 10px;
}

.linkButton{
  text-decoration: none;
}

.outletContainer{
  max-width: 1006px;
  margin: 30px auto 0;
}